@model Measurement

@{
    ViewData["Title"] = "PulseMeasurement";
}

<h1>Measurement</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.PatientId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.PatientId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.BirthDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.BirthDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MeasurementId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MeasurementId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TimeStamp)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TimeStamp)
    </dd>
</dl>
@*
<hr />
<h4 class="text-center">Mixed chart</h4>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="mixed_chart"></canvas>
</div>
*@
<hr />
<h4 class="text-center">Pulse</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PulseFFTWindowSize)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PulseFFTWindowSize)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PulseFFTWindowSizeWithPadding)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PulseFFTWindowSizeWithPadding)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PulseFFTStepSize)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PulseFFTStepSize)
    </dd>
</dl>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="pulse_chart"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="instantaneous_heart_rate_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="pulse_frequency_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="pulse_frequency_variance_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="pulse_amplitude_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="pulse_amplitude_variance_chart" width="80"></canvas>
</div>
<hr />
<h4 class="text-center">GSR</h4>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="resistance_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="conductance_chart" width="80"></canvas>
</div>

<hr />
<h4 class="text-center">Respiratory rate</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RespiratoryRateFFTWindowSize)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RespiratoryRateFFTWindowSize)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RespiratoryRateFFTWindowSizeWithPadding)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RespiratoryRateFFTWindowSizeWithPadding)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RespiratoryRateFFTStepSize)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RespiratoryRateFFTStepSize)
    </dd>
</dl>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="respiratoryRate_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="instantaneous_respiratory_rate_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="respiratory_rate_frequency_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="respiratory_rate_frequency_variance_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="respiratory_rate_amplitude_chart" width="80"></canvas>
</div>
<div class="chart-container" style="position: relative; height:25vh; width:69.4vw">
    <canvas id="respiratory_rate_amplitude_variance_chart" width="80"></canvas>
</div>
<hr />
<a asp-action="Patient" asp-route-id="@Model.Patient.PatientId" class="btn btn-primary">Back</a> |
<a asp-action="DeleteMeasurement" asp-route-id="@Model.MeasurementId" class="btn btn-danger">Delete measurement</a>
@section Scripts{
    <script type="text/javascript" src="~/lib/google-charts/loader.js"></script>
    <script type="text/javascript" src="~/lib/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/chartjs-plugin-zoom/hammer.min.js"></script>
    <script type="text/javascript" src="~/lib/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>
    <script src="~/js/mean.js"></script>
    <script src="~/js/calcMovMean.js"></script>
    <script>
    let model = @Html.Raw(Json.Serialize(Model));
    </script>
    @*<script src="~/js/rednerLineCharts_google_charts.js"></script>*@

    <script src="~/js/renderLineCharts_chart_js.js"></script>
}

