@model Measurement

@{
    ViewData["Title"] = "PulseMeasurement";
}

<h1>Measurement</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.PatientId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.PatientId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.BirthDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.BirthDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MeasurementId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MeasurementId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TimeStamp)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TimeStamp)
    </dd>
</dl>
<hr />
<h4 class="text-center">Pulse</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InitialThreshold)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InitialThreshold)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ThresholdAmplitudePercentage)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ThresholdAmplitudePercentage)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.HeartRateAverage)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HeartRateAverage)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PeaksCounter)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PeaksCounter)
    </dd>
</dl>
<div id="pulse_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="pulse_amplitude_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="pulse_amplitude_variance_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="pulse_frequency_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="pulse_frequency_variance_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<hr />
<h4 class="text-center">GSR</h4>
<div id="resistance_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="conductance_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<hr />
<h4 class="text-center">Respiratory rate</h4>
<div id="respiratoryRate_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<div id="instantaneous_respiratory_rate_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<hr />
<h4 class="text-center">Time difference</h4>
<div id="diff_chart" style="width: 1110px; height: 500px; margin: auto;"></div>
<hr />
<a asp-action="Patient" asp-route-id="@Model.Patient.PatientId" class="btn btn-primary">Back</a> |
<a asp-action="DeleteMeasurement" asp-route-id="@Model.MeasurementId" class="btn btn-danger">Delete measurement</a>
@section Scripts{
    <script type="text/javascript"
            src="~/lib/google-charts/loader.js"></script>
    <script src="~/js/mean.js"></script>
    <script src="~/js/calcMovMean.js"></script>
    <script>
        let model = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js/rednerLineCharts.js"></script>
}

