@model Patient

@{
    ViewData["Title"] = "Patient";
}

<h1>Patient</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PatientId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PatientId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BirthDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BirthDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AccessKey.Key)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AccessKey.Key)
    </dd>
</dl>
<a asp-action="GenerateAccessKey" asp-route-id="@Model.PatientId" class="btn btn-warning">Generate access key</a>
<a asp-action="DeleteAccessKey" asp-route-id="@Model.PatientId" class="btn btn-danger">Delete access key</a>
<hr />
<h2>Patient's measurements</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Measurement Id
            </th>
            <th>
                Time stamp
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Measurements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    <a asp-action="Measurement" asp-route-id="@item.MeasurementId" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a asp-action="Index" class="btn btn-primary">Back</a> |
<a asp-action="DeletePatient" asp-route-id="@Model.PatientId" class="btn btn-danger">Delete patient</a>